#hnmain {
    background-color: white;
    padding: 0 20px 20px 20px;
    width: 800px;
}

#hnmain tbody tr:last-child center form {
    border-left: 1px solid orange;
    color: white;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1.2em;
    padding-left: 10px;
    position: absolute;
    right: 13px;
    text-transform: uppercase;
    top: 15px;
}

#hnmain tbody tr:last-child center form input {
    border: 1px solid #E85D00;
    border-left: 1px solid orange;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    margin-left: 5px;
    padding: 2px 5px;
    width: 145px;
}

#hnmain tbody tr:last-child center form:before {
    background-color: #ff6600;
    content: "";
    display: block;
    height: 20px;
    left: 65px;
    position: absolute;
    width: 4px;
}

#hnmain tr td {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
}

#hnmain tr:last-child td > table {
    display: block;
    height: 10px;
    position: relative;
}

#hnmain tr:last-child td > table tr td[bgcolor]:after {
    background-color: orange;
    content: "";
    display: block;
    height: 10px;
    left: -200px;
    position: absolute;
    top: 0px;
    width: 222px;
}

.athing .title {
    padding-bottom: 0px;
}

.athing td {
    padding-bottom: 5px;
}

.athing td:nth-child(2) {
    opacity: 0.99;
    padding-right: 5px;
    padding-top: 0px;
    position: relative;
    top: 4px;
    vertical-align: top;
}

.athing td:nth-child(2):before {
    border-bottom: 12px solid #FF6600;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    height: 0px;
    left: 2px;
    position: absolute;
    top: 3px;
    width: 0px;
    z-index: -1;
}

.comhead a:first-child {
    color: #ff6600;
}

.comhead a:nth-child(2):before {
    content: " – ";
}

.pagetop {
    color: orange;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
}

.pagetop a:hover {
    color: orange;
}

.pagetop a:not([href=news]) {
    color: white;
    font-size: 1.2em;
    padding: 0px 5px;
}

.pagetop a:not([href=news]):first-child:before {
    content: "> ";
    display: inline-block;
    font-weight: 900;
    margin-right: 5px;
    transform: scale(0.7,1);
}

.pagetop a[href=news] {
    bottom: -1px;
    color: white;
    font-size: 1.5em;
    margin-left: 2px;
    margin-right: 45px;
    position: relative;
}

.rank {
    color: #FF6600;
    display: block;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1em;
    font-weight: 300;
    opacity: .3;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    vertical-align: top;
}

.score {
    color: rgb(68, 68, 68);
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
}

.sitebit {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 0.8em;
    font-style: italic;
    font-weight: 200;
    left: 5px;
    position: relative;
    text-transform: uppercase;
    top: -2px;
}

.subtext {
    font-size: 0.8em;
    font-style: italic;
}

.subtext a:last-child {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 700;
    margin-left: 3px;
    padding: 2px;
    text-transform: uppercase;
}

.subtext a:nth-child(2) {
    font-style: italic;
}

.subtext a:nth-child(3) {
    color: gray;
    margin-right: 3px;
}

.subtext a:nth-child(3):before {
    content: ' – ';
}

.votearrow {
    background: none;
    border-bottom: 12px solid #CCC;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    height: 0;
    width: 0;
}

.votearrow:hover {
    border-bottom-color: black;
}

.yclinks {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1em;
    font-weight: 600;
    padding-left: 35px;
    text-transform: uppercase;
}

.yclinks a {
    margin-left: 5px;
    margin-right: 5px;
}

.yclinks a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    margin-left: 188px;
    padding-top: 50px;
}

body > center > table > tbody > tr:first-child td table {
    background-color: #FF6600;
    left: 0;
    padding: 15px;
    padding-right: 240px;
    position: absolute;
    top: 0;
}

body > center > table > tbody > tr:first-child td table a:hover {
    opacity: 0.8;
}

center {
    text-align: left;
}

/* Upvote Button */

/* Comments button */

/* Submitter */

/* Timestamp */

/* Footer */

/* Search Control */

/* Article Title */

/* HN Header */

/* Footer Separator */

/* More Button */

html[op="jobs"] .athing td:nth-child(2):before {
    display: none;
}

html[op="newcomments"] .comhead {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1em;
}

html[op="newcomments"] .comment {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1.1em;
}

html[op="newcomments"] .storyon a {
    color: black;
    font-weight: 700;
}

html[op="newcomments"] .storyon a:hover {
    color: #ff6600;
    font-weight: 700;
    text-decoration: none;
}

html[op="newcomments"] > body > center > table > tbody > tr:nth-child(3) tbody tr:last-child .title {
    padding-bottom: 15px;
}

html[op="newcomments"] > body > center > table > tbody > tr:nth-child(3) tbody tr:last-child .title a {
    background-color: #FF6600;
    color: white;
    font-size: 1em;
    padding: 2px 10px;
    text-transform: uppercase;
}

html[op="news"] > body > center > table > tbody > tr:nth-child(3) tbody tr:last-child .title {
    padding-bottom: 15px;
}

input {
    font-family: 'Source Sans Pro', 'Helvetica';
    font-weight: bold;
}

input[type="submit"] {
    background-color: #ff6600;
    border: none;
    color: white;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    padding: 5px 15px;
    text-transform: uppercase;
}

input[type="submit"]:after {
    content: " > ";
}

input[type="submit"]:hover {
    background-color: #E75C00;
}

html[op="news"] > body > center > table > tbody > tr:nth-child(3) tbody tr:last-child .title a {
    background-color: #FF6600;
    color: white;
    font-size: 1em;
    padding: 2px 10px;
    text-transform: uppercase;
}

html[op="news"] > body > center > table > tbody > tr:nth-child(3) tbody tr:last-child .title a:after {
    content: " > ";
}

html[op="news"] > body > center > table > tbody > tr:nth-child(3) tbody tr:last-child .title a:hover {
    background-color: #E75C00;
}

html[op="submit"] .pagetop b {
    color: white;
    font-size: 1.4em;
    margin-left: 2px;
}

html[op="submit"] tr td {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    text-transform: capitalize;
    vertical-align: middle;
}

html[op="submit"] tr td input {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    margin-left: 5px;
    padding: 5px;
}

textarea {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    width: 100%;
    padding: 5px;
}

span.comment {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 1.1em;
}

span.pagetop a {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    text-transform: uppercase;
}

span.rank {
    padding-top: 5px;
}

span.sitebit.comhead {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    font-style: italic;
}

td.subtext {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial';
    padding-bottom: 10px;
}

td.subtext a {
    color: #FF6600;
}

td.title a:hover {
    color: #FF6600;
}

td.title a:visited {
    text-decoration: line-through;
}

tr.athing td {
    position: relative;
}

td.title a {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'Helvetica';
    font-size: 1.5em;
    font-weight: 700;
}


